{%  extends 'base.html.twig' %}

{% block title %}Tuto symfony{% endblock %}

{% block body %}
  <h1>Vous êtes né dans le département: {{ postale }}! </h1>
  <h2>Vous êtes un {{ sexe }}! </h2>
  <h2>nous sommes le: {{ "now"|date("l d F H:i") }} </h2>
{% endblock %}
